<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.diet.Mapper.RecipeMapper">
    <resultMap id="RecipeMap" type="com.example.diet.Domain.Recipe">
        <id column="rec_id" property="recid"></id>
        <result column="rec_name" property="recName"></result>
        <result column="rec_url" property="recurl"></result>
        <result column="rec_prac" property="recPrac"></result>
        <result column="rec_taste" property="recTaste"></result>
        <result column="rec_time" property="recTime"></result>
        <result column="rec_diff" property="recDiff"></result>
        <result column="rec_main" property="recMain"></result>
        <result column="rec_excipient" property="recExcipient"></result>
        <result column="rec_step" property="recStep"></result>
        <result column="rec_less" property="recLess"></result>
        <result column="rec_more" property="recMore"></result>
        <result column="rec_no" property="recNo"></result>
        <result column="rec_sugar" property="recSugar"></result>
        <result column="rec_cal" property="recCal"></result>
        <result column="rec_fat" property="recFat"></result>
    </resultMap>

    <insert id="insertRecipe" parameterType="Recipe">
        insert into recipe(rec_id,rec_name,rec_url) values (#{recid},#{recName},#{recurl})
    </insert>
    <update id="updateRecipe" parameterType="Recipe">
        update recipe
        <set>
            rec_url =  #{recurl}
        </set>
        where rec_name = #{recName}
    </update>
    <select id="findRecipebyName" resultMap="RecipeMap">
        SELECT
            *
        FROM
            recipe
        WHERE
            recipe.rec_name = #{name}
    </select>
    <select id="SearchRecipe" resultMap="RecipeMap">
        SELECT
            *
        FROM
            recipe
        WHERE
            rec_name LIKE "%" #{name} "%";
    </select>
    <select id="RecipeRank" resultMap="RecipeMap">
        SELECT
            *
        FROM
            recipe
        WHERE
            rec_id = 1 OR rec_id = 2 OR rec_id = 4 OR rec_id = 37 OR rec_id = 63
           OR rec_id = 178 OR rec_id = 187 OR rec_id = 387 OR rec_id = 166
           OR rec_id = 130
    </select>
</mapper>