<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.diet.Mapper.RecipeMapper">
    <insert id="insertRecipe" parameterType="Recipe">
        insert into recipe(rec_id,rec_name,rec_url) values (#{recid},#{recName},#{recurl})
    </insert>
    <update id="updateRecipe" parameterType="Recipe">
        update recipe
        <set>
            rec_url =  #{rec_url}
        </set>
        where rec_name = #{rec_name}
    </update>
    <select id="findRecipebyName" resultType="com.example.diet.Domain.Recipe">
        SELECT
            *
        FROM
            recipe
        WHERE
            recipe.rec_name = #{name}
    </select>
    <select id="SearchRecipe" resultType="com.example.diet.Domain.Recipe">
        SELECT
            *
        FROM
            recipe
        WHERE
            rec_name LIKE "%" #{name} "%";
    </select>
    <select id="RecipeRank" resultType="com.example.diet.Domain.Recipe">
        SELECT
            *
        FROM
            recipe
        WHERE
            rec_id = 1 OR rec_id = 2 OR rec_id = 4 OR rec_id = 37 OR rec_id = 63
           OR rec_id = 178 OR rec_id = 187 OR rec_id = 387 OR rec_id = 166
           OR rec_id = 130
    </select>
</mapper>