<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.diet.Mapper.RecordMapper">

    <select id="RecordCal" parameterType="int" resultType="Integer">
        select cal_num from cal where usr_id = #{userId} and cal_date = #{time}
    </select>

    <update id="UpdateCal">
        update cal
        <set>
            cal_num = cal_num + #{cal_num}
        </set>
        where usr_id = #{userId} and cal_date = #{time}
    </update>

    <select id="findCalByIdDate" resultType="Integer">
        select cal_num from cal where usr_id = #{userId} and cal_date = #{time}
    </select>




    <delete id="deleteAllergen" parameterType="Integer">
        delete from usr_allergen where usr_id = #{userId}
    </delete>

    <delete id="deleteDisease" parameterType="Integer">
        delete from usr_disease where usr_id = #{userId}
    </delete>

    <select id="findIdByAllergens" parameterType="String" resultType="Integer">
        select ing_id from ingredient where ing_name = #{allergen}
    </select>

    <select id="findIdByDiseases" parameterType="String" resultType="Integer">
        select dis_id from disease where dis_name = #{disease}
    </select>

    <insert id="InsertAllergen" parameterType="Integer">
        insert into usr_allergen values (#{userId},#{allId})
    </insert>

    <insert id="InsertDisease" parameterType="Integer">
        insert into usr_dis values (#{userId},#{disId})
    </insert>



    <select id="getCal" resultType="Long">
        select cal_num from cal where usr_id = #{userId} and cal_date = #{date}
    </select>

    <select id="getStep" resultType="Long">
        select step from sport where usr_id = #{userId} and date = #{date}
    </select>

</mapper>

