<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.diet.Mapper.RequestMapper">
    <insert id="saveRequest">
        insert into request values (null,#{from_usr_phone},#{to_usr_phone},#{req_msg})
    </insert>
    <delete id="deleteRequest">
        DELETE
        FROM
            request
        WHERE
            req_id = #{req_id}
    </delete>
    <select id="getAllRequestByUsrid" resultType="com.example.diet.Domain.Request">
        SELECT
            *
        FROM
            request
        WHERE
            to_usr_phone = #{usrId}
    </select>
</mapper>