<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.diet.Mapper.UserMapper">
    <select id="findAll" resultType="com.example.diet.Domain.User" >
        select * from usr
    </select>


    <select id="GetUser" parameterType="String" resultType="com.example.diet.Domain.User">
        select * from usr where usr_phone = #{user_phone}
    </select>
    <insert id="InsertUser" parameterType="com.example.diet.Domain.User" useGeneratedKeys="true" keyProperty="usr_id">
        insert into usr values (null, #{usr_name},#{usr_phone}, null, #{usr_password},
                                #{usr_sex},#{usr_age}, #{usr_height},#{usr_weight},#{usr_weight},#{tar_weight},#{tar_time},
                                null,#{reg_time})
    </insert>

    <select id="RecordWater" parameterType="int" resultType="Integer">
        select water_num from water where usr_id = #{userId}
    </select>
    <select id="GetDayWater" parameterType="int" resultType="String">
        select water_date from water where usr_id = #{userId}
    </select>
    <update id="SetZero" parameterType="int" >
        update water
        <set>
            water_num = 0
        </set>
        where usr_id = #{userId}
    </update>
    <update id="UpdateDayWater">
        update water
        <set>
            water_date = #{today}
        </set>
        where usr_id = #{userId}
    </update>
    <update id="UpdateWater">
        update water
        <set>
            water_num = water_num + #{water_num}
        </set>
        where usr_id = #{userId}
    </update>


    <update id="updateInfo">
        UPDATE usr
        SET usr_name = #{usr_name},
            usr_sex = #{usr_sex},
            usr_height = #{usr_height},
            new_weight = #{new_weight},
            tar_weight = #{tar_weight},
            tar_time = #{tar_time}
        WHERE
            usr_id = #{usr_id}
    </update>
    <update id="UpdateWeight">
        UPDATE weight
        SET
            usr_weight = #{weight}
        WHERE
            usr_id = #{userId}
          AND date = #{time}
    </update>
    <update id="updateSport">
        UPDATE sport
        SET consume = #{sport},
            step = #{step}
        WHERE
            usr_id = #{userId}
          AND date = #{date}
    </update>

    <select id="GetFamily" parameterType="int" resultType="UsrFamily">
        SELECT
            *
        FROM
            usr_family
        WHERE
            usr_id1 = #{userId}
           OR usr_id2 = #{userId}
    </select>

    <select id="GetBreakDiet" resultType="Recent_diet">
        select * from recent_diet where rd_usr = #{userId} and rd_type = 1 AND rd_time = #{date}
    </select>

    <select id="GetLunchDiet" resultType="Recent_diet">
        select * from recent_diet where rd_usr = #{userId} and rd_type = 2 AND rd_time = #{date}
    </select>

    <select id="GetDinnerDiet" resultType="Recent_diet">
        select * from recent_diet where rd_usr = #{userId} and rd_type = 3 AND rd_time = #{date}
    </select>

    <select id="GetWeight" parameterType="int" resultType="com.example.diet.Domain.WeightRecord">
        select * from weight where usr_id = #{userId} order by date
    </select>

    <insert id="InsertRegisterInfo">
        insert into registerinfo values (#{usr_phone},#{usr_password},#{usr_name},#{usr_sex},
                                         #{usr_height},#{tar_weight},#{usr_age},#{tar_weight},
                                         #{tar_time})
    </insert>
    <insert id="InsertWeight">
        insert into weight values (#{userId},#{weight},#{time})
    </insert>
    <insert id="InsertDiet">
        insert into recent_diet values (null , #{rd_usr},#{rec_name},#{g_num},#{cal_num},#{rd_time},#{rd_type})
    </insert>
    <insert id="InsertWater">
        insert into water values (#{userId},#{i},#{date})
    </insert>
    <insert id="InsertCal">
        insert into cal values (#{userId},#{i},#{date})
    </insert>
    <insert id="InsertFamilyRelation">
        insert into usr_family values (#{usr_id1},#{usr_id2},#{relation1},#{relation2})
    </insert>
    <insert id="InsertSport">
        insert into sport values (#{userId},#{sport},#{step},#{date})
    </insert>

    <select id="findUserbyPhonenum" resultType="com.example.diet.Domain.User">
        SELECT
            *
        FROM
            usr
        WHERE
            usr_phone = #{userphone}
          AND usr_password = #{password}
    </select>
    <select id="findUserbyPhonenum1" resultType="com.example.diet.Domain.User">
        SELECT
            *
        FROM
            usr
        WHERE
            usr_phone = #{userphone}
    </select>
    <select id="findById" resultType="com.example.diet.Domain.User">
        SELECT *
        FROM usr
        WHERE usr_id = #{usrId}
    </select>
    <select id="findUserbyDateId" resultType="com.example.diet.Domain.WeightRecord">
        SELECT
            *
        FROM
            weight
        WHERE
            usr_id = #{userId}
          AND date = #{time}
    </select>
    <select id="GetRecipeId" resultType="java.lang.Long">
        select rec_id from recipe where rec_name = #{rec_name}
    </select>

    <select id="getUserId" resultType="java.lang.Long">
        select usr_id from usr where usr_phone = #{usrPhone}
    </select>
    <select id="findAllergenById" resultType="java.lang.String">
        SELECT
            i.ing_name
        FROM
            usr_allergen a,
            ingredient i
        WHERE
            a.ing_id = i.ing_id
          AND a.usr_id = #{usr_id}
    </select>
    <select id="findDiseaseById" resultType="java.lang.String">
        SELECT
            di.dis_name
        FROM
            usr_dis d,
            disease di
        WHERE
            d.dis_id = di.dis_id
          AND d.usr_id = #{usr_id}
    </select>
    <select id="findUserById" resultType="com.example.diet.Domain.User">
        SELECT
            *
        FROM
            usr
        WHERE
            usr_id = #{usr_id}
    </select>
    <select id="getSexByUserId" resultType="java.lang.Integer">
        SELECT
            usr_sex
        FROM
            usr
        WHERE
            usr_phone = #{usr_id}
    </select>
    <select id="findTasteIdById" resultType="java.lang.Integer">
        SELECT
            ut.taste_id
        FROM
            usr u,
            usr_taste ut
        WHERE
            u.usr_id = ut.usr_id
          AND u.usr_id = #{usr_id};
    </select>
    <select id="findDiseaseIdById" resultType="java.lang.Integer">
        SELECT
            ud.dis_id
        FROM
            usr u,
            usr_dis ud
        WHERE
            u.usr_id = ud.usr_id
          AND u.usr_id = #{usr_id};
    </select>
    <select id="findSportByIdDate" resultType="java.lang.Integer">
        SELECT
            consume
        FROM
            sport
        WHERE
            usr_id = #{userId}
          AND date = #{date}
    </select>

</mapper>

