<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.diet.Mapper.UserMapper">
    <select id="findAll" resultType="com.example.diet.Domain.User" >
        select * from usr
    </select>

    <select id="SearchRecipe" resultType="com.example.diet.Domain.Recipe" parameterType="String">
        select * from recipe where rec_id = #{rec_id}
    </select>
</mapper>

